{% load static %}

<form method="post" action="{% url 'main_page:index' %}" class="request-form ftco-animate bg-primary">
    {% csrf_token %}
    <h2>Make your trip</h2>
    <div class="form-group">
        <label for="" class="label">Pick-up location</label>
        {{ booking_form.pick_up_location }}
    </div>

    <div class="form-group">
        <label for="" class="label">Drop-off location</label>
        {{ booking_form.drop_off_location }}
    </div>

    <div class="form-group">
        <label for="" class="label">Select Car</label>
        {{ booking_form.car }}
    </div>

    <div class="d-flex">
        <div class="form-group mr-2">
            <label for="" class="label">Pick-up date</label>
            {{ booking_form.pick_up_date }}
        </div>
        <div class="form-group ml-2">
            <label for="" class="label">Drop-off date</label>
            {{ booking_form.drop_off_date }}
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-secondary py-3 px-4" type="submit">Rent A Car Now</button>
    </div>
</form>