{% extends 'main.html' %}
{% load static %}

{% block content %}
    
{% include 'hero.html' %}

    <section class="ftco-section ftco-no-pt bg-light">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12	featured-top">
                    <div class="row no-gutters">
                        <div class="col-md-4 d-flex align-items-center">

                            {% include 'block_booking.html' %}

                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="services-wrap rounded-right w-100">
                                <h3 class="heading-section mb-4">Better Way to Rent Your Perfect Cars</h3>
                                <div class="row d-flex mb-4">
                                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                        <div class="services w-100 text-center">
                                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
                                            <div class="text w-100">
                                                <h3 class="heading mb-2">Choose Your Pickup Location</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                        <div class="services w-100 text-center">
                                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-handshake"></span></div>
                                            <div class="text w-100">
                                                <h3 class="heading mb-2">Select the Best Deal</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                        <div class="services w-100 text-center">
                                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-rent"></span></div>
                                            <div class="text w-100">
                                                <h3 class="heading mb-2">Reserve Your Rental Car</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p><a href="{% url 'main_page:pricing' %}" class="btn btn-primary py-3 px-4">Reserve Your Perfect Car</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>


    <section class="ftco-section ftco-no-pt bg-light">
    	<div class="container">
    		<div class="row justify-content-center">
          <div class="col-md-12 heading-section text-center ftco-animate mb-5">
          	<span class="subheading">What we offer</span>
            <h2 class="mb-2">Feeatured Vehicles</h2>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-12">
    				<div class="carousel-car owl-carousel">

                        {% for car in main_cars_list %}
                            <div class="item">
                                <div class="car-wrap rounded ftco-animate">
                                    <div class="img rounded d-flex align-items-end" style="background-image: url('{{ car.image.url }}');">
                                    </div>
                                    <div class="text">
                                        <h2 class="mb-0"><a href="#">{{ car.title }} {{ car.data }}</a></h2>
                                        <div class="d-flex mb-3">
                                            <span class="cat">{{ car.manufacturer }}</span>
                                            <p class="price ml-auto">${{ car.price }} <span>/day</span></p>
                                        </div>
                                        <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Book now</a> <a href="{{ car.get_absolute_url }}" class="btn btn-secondary py-2 ml-1">Details</a></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

    				</div>
    			</div>
    		</div>
    	</div>
    </section>

    {% include 'about.html' %}

	{% include 'service.html' %}

    {% include 'block_become.html' %}


    {% include 'testimonial.html' %}

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <span class="subheading">Blog</span>
                    <h2>Recent Blog</h2>
                </div>
            </div>
            <div class="row d-flex">
                {% for post in main_page_posts %}
                    <div class="col-md-4 d-flex ftco-animate">
                        <div class="blog-entry justify-content-end">
                            <a href="blog-single.html" class="block-20" style="background-image: url('{{ post.image.url }}');">
                            </a>
                            <div class="text pt-4">
                                <div class="meta mb-3">
                                    <div><a>{{ post.pub_date|date:"j.m.Y" }}</a></div>
                                    <div><a>Admin</a></div>
                                </div>
                                <h3 class="heading mt-2"><a href="#">{{ post.title }}</a></h3>
                                <p><a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read more</a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>	

    {% include 'block_experience.html' %}

{% endblock %}